Repository ansible-collections/hetzner.hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hcloud-vendor, check-integration-test-files, check-version-variables

check-hcloud-vendor:
  name: check hcloud vendor
  description: Ensure the hcloud vendored files are in sync
  language: python
  entry: python3 scripts/vendor.py
  pass_filenames: false

check-integration-test-files:
  name: check integration test files
  description: Ensure the integration test files are in sync
  language: system
  entry: scripts/integration-test-files.sh
  pass_filenames: false

check-version-variables:
  name: check version variables
  description: Ensure the version variables are in sync
  language: system
  entry: scripts/version-sync.sh
  pass_filenames: false

chore: add changelog fragment
  changelogs/fragments/improve-firewall-resources-management.yml
Due: none

Apply suggestions from code review
  plugins/modules/firewall_info.py
Due: none

Fix missing casts for firewall results
  plugins/modules/firewall.py
  plugins/modules/firewall_info.py
Due: none

style: format files
  plugins/modules/firewall.py
  plugins/modules/firewall_info.py
Due: none

feat: improve firewall resources management (#324)
  changelogs/fragments/improve-firewall-resources-management.yml
  examples/server-with-firewall.yml
  meta/runtime.yml
  plugins/modules/firewall.py
  plugins/modules/firewall_info.py
  plugins/modules/firewall_resource.py
  tests/integration/targets/firewall/tasks/test.yml
  tests/integration/targets/firewall_info/aliases
  tests/integration/targets/firewall_info/defaults/main/common.yml
  tests/integration/targets/firewall_info/defaults/main/main.yml
  tests/integration/targets/firewall_info/tasks/cleanup.yml
  tests/integration/targets/firewall_info/tasks/main.yml
  tests/integration/targets/firewall_info/tasks/prepare.yml
  tests/integration/targets/firewall_info/tasks/test.yml
  tests/integration/targets/firewall_resource/aliases
  tests/integration/targets/firewall_resource/defaults/main/common.yml
  tests/integration/targets/firewall_resource/defaults/main/main.yml
  tests/integration/targets/firewall_resource/tasks/cleanup.yml
  tests/integration/targets/firewall_resource/tasks/main.yml
  tests/integration/targets/firewall_resource/tasks/prepare.yml
  tests/integration/targets/firewall_resource/tasks/test.yml
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Due: check-integration-test-files

fix: do not silence failed firewall deletion
  changelogs/fragments/fix-firewall-deletion.yml
  plugins/modules/firewall.py
  tests/integration/targets/firewall/defaults/main/main.yml
  tests/integration/targets/firewall/tasks/cleanup.yml
  tests/integration/targets/firewall/tasks/prepare.yml
  tests/integration/targets/firewall/tasks/test.yml
Due: check-integration-test-files

refactor: remove unsafe template
  tests/integration/targets/firewall/tasks/test.yml
Due: check-integration-test-files

feat: force the deletion of a firewall that is still in use
  changelogs/fragments/fix-firewall-deletion.yml
  plugins/modules/firewall.py
  tests/integration/targets/firewall/tasks/test.yml
Due: check-integration-test-files

docs: improve changelog wording
  changelogs/fragments/fix-firewall-deletion.yml
Due: none

feat: allow forcing the deletion of firewalls that are still in use (#447)
  changelogs/fragments/fix-firewall-deletion.yml
  plugins/modules/firewall.py
  tests/integration/targets/firewall/defaults/main/main.yml
  tests/integration/targets/firewall/tasks/cleanup.yml
  tests/integration/targets/firewall/tasks/prepare.yml
  tests/integration/targets/firewall/tasks/test.yml
Due: check-integration-test-files

chore(main): release 2.5.0
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 2.5.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/add-inventory-hostvars-prefix-and-suffix-option.yml
  changelogs/fragments/fix-firewall-deletion.yml
  changelogs/fragments/improve-firewall-resources-management.yml
  changelogs/fragments/replace-deprecated-ansible.netcommon-with-python-ipaddress.yml
Due: none

chore(main): release 2.5.0 (#419)
  .github/release-please-manifest.json
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/dev-changelog.md
  changelogs/fragments/add-inventory-hostvars-prefix-and-suffix-option.yml
  changelogs/fragments/fix-firewall-deletion.yml
  changelogs/fragments/improve-firewall-resources-management.yml
  changelogs/fragments/replace-deprecated-ansible.netcommon-with-python-ipaddress.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

fix: allow renaming networks
  changelogs/fragments/allow-renaming-networks.yml
  plugins/modules/network.py
Due: none

fix: allow renaming networks (#449)
  changelogs/fragments/allow-renaming-networks.yml
  plugins/modules/network.py
Due: none

test: use testing framework for network integration tests
  .ansible-lint
  tests/integration/targets/network/aliases
  tests/integration/targets/network/defaults/main/main.yml
  tests/integration/targets/network/tasks/cleanup.yml
  tests/integration/targets/network/tasks/test.yml
Due: check-integration-test-files

test: use testing framework for network integration tests (#448)
  .ansible-lint
  tests/integration/targets/network/aliases
  tests/integration/targets/network/defaults/main/main.yml
  tests/integration/targets/network/tasks/cleanup.yml
  tests/integration/targets/network/tasks/test.yml
Due: check-integration-test-files

fix: load balancer invalid cookie lifetime value returned
  changelogs/fragments/fix-load-balancer-cookie-lifetime.yml
  plugins/modules/load_balancer_info.py
  plugins/modules/load_balancer_service.py
Due: none

fix!: always return iso-8601 formatted date time
  changelogs/fragments/fix-always-return-iso-8601-formatted-datetime.yml
  plugins/modules/certificate.py
  plugins/modules/certificate_info.py
  plugins/modules/iso_info.py
Due: none

feat!: remove inventory `api_token_env` option
  changelogs/fragments/remove-inventory-api_token_env-option.yml
  plugins/inventory/hcloud.py
Due: none

fix: load balancer invalid cookie lifetime value returned (#452)
  changelogs/fragments/fix-load-balancer-cookie-lifetime.yml
  plugins/modules/load_balancer_info.py
  plugins/modules/load_balancer_service.py
Due: none

feat!: remove inventory `api_token_env` option (#454)
  changelogs/fragments/remove-inventory-api_token_env-option.yml
  plugins/inventory/hcloud.py
Due: none

fix!: always return iso-8601 formatted date time (#453)
  changelogs/fragments/fix-always-return-iso-8601-formatted-datetime.yml
  plugins/modules/certificate.py
  plugins/modules/certificate_info.py
  plugins/modules/iso_info.py
Due: none

feat!: drop support for ansible-core 2.13
  .azure-pipelines/azure-pipelines.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  changelogs/fragments/drop-support-for-ansible-core-2.13.yml
  meta/runtime.yml
  requirements.txt
Due: none

test: remove ansible sanity ignore for ansible-core 2.13
  tests/sanity/ignore-2.13.txt
Due: none

feat!: drop support for ansible-core 2.13 (#450)
  .azure-pipelines/azure-pipelines.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  changelogs/fragments/drop-support-for-ansible-core-2.13.yml
  meta/runtime.yml
  requirements.txt
  tests/sanity/ignore-2.13.txt
Due: none

feat: allow templating inventory instances hostname
  changelogs/fragments/add-inventory-hostname-option.yml
  plugins/inventory/hcloud.py
Due: none

feat(inventory): allow templating instances hostname (#455)
  changelogs/fragments/add-inventory-hostname-option.yml
  plugins/inventory/hcloud.py
Due: none

test: use longer role namespace to prevent collision
  tests/integration/common/defaults/main/common.yml
  tests/integration/targets/certificate/defaults/main/common.yml
  tests/integration/targets/certificate_info/defaults/main/common.yml
  tests/integration/targets/datacenter_info/defaults/main/common.yml
  tests/integration/targets/firewall/defaults/main/common.yml
  tests/integration/targets/firewall_info/defaults/main/common.yml
  tests/integration/targets/firewall_resource/defaults/main/common.yml
  tests/integration/targets/floating_ip/defaults/main/common.yml
  tests/integration/targets/floating_ip_info/defaults/main/common.yml
  tests/integration/targets/image_info/defaults/main/common.yml
  tests/integration/targets/iso_info/defaults/main/common.yml
  tests/integration/targets/load_balancer/defaults/main/common.yml
  tests/integration/targets/load_balancer_info/defaults/main/common.yml
  tests/integration/targets/load_balancer_network/defaults/main/common.yml
  tests/integration/targets/load_balancer_service/defaults/main/common.yml
  tests/integration/targets/load_balancer_target/defaults/main/common.yml
  tests/integration/targets/load_balancer_type_info/defaults/main/common.yml
  tests/integration/targets/location_info/defaults/main/common.yml
  tests/integration/targets/network/defaults/main/common.yml
  tests/integration/targets/network_info/defaults/main/common.yml
  tests/integration/targets/placement_group/defaults/main/common.yml
  tests/integration/targets/primary_ip/defaults/main/common.yml
  tests/integration/targets/primary_ip_info/defaults/main/common.yml
  tests/integration/targets/rdns/defaults/main/common.yml
  tests/integration/targets/route/defaults/main/common.yml
  tests/integration/targets/server/defaults/main/common.yml
  tests/integration/targets/server_info/defaults/main/common.yml
  tests/integration/targets/server_network/defaults/main/common.yml
  tests/integration/targets/server_type_info/defaults/main/common.yml
  tests/integration/targets/ssh_key/defaults/main/common.yml
  tests/integration/targets/ssh_key_info/defaults/main/common.yml
  tests/integration/targets/subnetwork/defaults/main/common.yml
  tests/integration/targets/volume/defaults/main/common.yml
  tests/integration/targets/volume_info/defaults/main/common.yml
Due: check-integration-test-files

test: fix firewall groups
  tests/integration/targets/firewall_info/aliases
  tests/integration/targets/firewall_resource/aliases
Due: check-integration-test-files

test: use longer role namespace to prevent collision (#456)
  tests/integration/common/defaults/main/common.yml
  tests/integration/targets/certificate/defaults/main/common.yml
  tests/integration/targets/certificate_info/defaults/main/common.yml
  tests/integration/targets/datacenter_info/defaults/main/common.yml
  tests/integration/targets/firewall/defaults/main/common.yml
  tests/integration/targets/firewall_info/aliases
  tests/integration/targets/firewall_info/defaults/main/common.yml
  tests/integration/targets/firewall_resource/aliases
  tests/integration/targets/firewall_resource/defaults/main/common.yml
  tests/integration/targets/floating_ip/defaults/main/common.yml
  tests/integration/targets/floating_ip_info/defaults/main/common.yml
  tests/integration/targets/image_info/defaults/main/common.yml
  tests/integration/targets/iso_info/defaults/main/common.yml
  tests/integration/targets/load_balancer/defaults/main/common.yml
  tests/integration/targets/load_balancer_info/defaults/main/common.yml
  tests/integration/targets/load_balancer_network/defaults/main/common.yml
  tests/integration/targets/load_balancer_service/defaults/main/common.yml
  tests/integration/targets/load_balancer_target/defaults/main/common.yml
  tests/integration/targets/load_balancer_type_info/defaults/main/common.yml
  tests/integration/targets/location_info/defaults/main/common.yml
  tests/integration/targets/network/defaults/main/common.yml
  tests/integration/targets/network_info/defaults/main/common.yml
  tests/integration/targets/placement_group/defaults/main/common.yml
  tests/integration/targets/primary_ip/defaults/main/common.yml
  tests/integration/targets/primary_ip_info/defaults/main/common.yml
  tests/integration/targets/rdns/defaults/main/common.yml
  tests/integration/targets/route/defaults/main/common.yml
  tests/integration/targets/server/defaults/main/common.yml
  tests/integration/targets/server_info/defaults/main/common.yml
  tests/integration/targets/server_network/defaults/main/common.yml
  tests/integration/targets/server_type_info/defaults/main/common.yml
  tests/integration/targets/ssh_key/defaults/main/common.yml
  tests/integration/targets/ssh_key_info/defaults/main/common.yml
  tests/integration/targets/subnetwork/defaults/main/common.yml
  tests/integration/targets/volume/defaults/main/common.yml
  tests/integration/targets/volume_info/defaults/main/common.yml
Due: check-integration-test-files

chore(main): release 3.0.0
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 3.0.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/add-inventory-hostname-option.yml
  changelogs/fragments/allow-renaming-networks.yml
  changelogs/fragments/drop-support-for-ansible-core-2.13.yml
  changelogs/fragments/fix-always-return-iso-8601-formatted-datetime.yml
  changelogs/fragments/fix-load-balancer-cookie-lifetime.yml
  changelogs/fragments/remove-inventory-api_token_env-option.yml
Due: none

chore(main): release 3.0.0 (#451)
  .github/release-please-manifest.json
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/dev-changelog.md
  changelogs/fragments/add-inventory-hostname-option.yml
  changelogs/fragments/allow-renaming-networks.yml
  changelogs/fragments/drop-support-for-ansible-core-2.13.yml
  changelogs/fragments/fix-always-return-iso-8601-formatted-datetime.yml
  changelogs/fragments/fix-load-balancer-cookie-lifetime.yml
  changelogs/fragments/remove-inventory-api_token_env-option.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore: add dev target helper
  Makefile
  tests/integration/cloud-config-hcloud.ini.in
Due: check-integration-test-files

chore: add dev target helper (#457)
  Makefile
  tests/integration/cloud-config-hcloud.ini.in
Due: check-integration-test-files

fix: return sorted `alias_ips` in `server_network` module
  changelogs/fragments/sort-alias-ips-in-server-network.yml
  plugins/modules/server_network.py
Due: none

test: use testing framework for server_network integration tests
  .ansible-lint
  tests/integration/targets/server_network/aliases
  tests/integration/targets/server_network/tasks/cleanup.yml
  tests/integration/targets/server_network/tasks/prepare.yml
  tests/integration/targets/server_network/tasks/test.yml
Due: check-integration-test-files

fix: return sorted `alias_ips` in `server_network` module (#458)
  .ansible-lint
  changelogs/fragments/sort-alias-ips-in-server-network.yml
  plugins/modules/server_network.py
  tests/integration/targets/server_network/aliases
  tests/integration/targets/server_network/tasks/cleanup.yml
  tests/integration/targets/server_network/tasks/prepare.yml
  tests/integration/targets/server_network/tasks/test.yml
Due: check-integration-test-files

test: use testing framework for server integration tests
  tests/integration/targets/server/tasks/cleanup.yml
  tests/integration/targets/server/tasks/prepare.yml
  tests/integration/targets/server/tasks/test.yml
  tests/integration/targets/server/tasks/test_primary_ips.yml
  tests/integration/targets/server/tasks/test_validation.yml
Due: check-integration-test-files

Path conditions:
  check-hcloud-vendor: any of: ^scripts/vendor.py$, but not: ^plugins/module_utils/vendor/hcloud/.*$
  check-integration-test-files: any of: ^(scripts/integration-test-files.sh$|tests/integration), but not: ^plugins/module_utils/vendor/hcloud/.*$
  check-version-variables: any of: ^(scripts/version-sync.sh$|galaxy.yml|plugins/module_utils/version.py), but not: ^plugins/module_utils/vendor/hcloud/.*$
