Repository ansible-collections/hetzner.hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hcloud-vendor, check-integration-test-files, check-version-variables

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^plugins/module_utils/vendor/hcloud/.*$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.2
    hooks:
      - id: prettier
        files: \.(md|ya?ml)$
        exclude: ^changelogs/changelog.yaml$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/ansible-community/antsibull-changelog
    rev: 0.23.0
    hooks:
      - id: antsibull-changelog-lint
      - id: antsibull-changelog-lint-changelog-yaml

  - repo: https://github.com/ansible/ansible-lint
    rev: v6.18.0
    hooks:
      - id: ansible-lint
        name: ansible-lint

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.7.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: check-hcloud-vendor
        name: check hcloud vendor
        description: Ensure the hcloud vendored files are in sync
        language: python
        entry: python3 scripts/vendor.py
        pass_filenames: false
        files: ^scripts/vendor.py$

      - id: check-integration-test-files
        name: check integration test files
        description: Ensure the integration test files are in sync
        language: system
        entry: scripts/integration-test-files.sh
        pass_filenames: false
        files: ^(scripts/integration-test-files.sh$|tests/integration)

      - id: check-version-variables
        name: check version variables
        description: Ensure the version variables are in sync
        language: system
        entry: scripts/version-sync.sh
        pass_filenames: false
        files: ^(scripts/version-sync.sh$|galaxy.yml|plugins/module_utils/version.py)

fix: update vendor script
  scripts/vendor.py
Due: check-hcloud-vendor

tmp: update vendor files
  plugins/module_utils/vendor/hcloud/__init__.py
  plugins/module_utils/vendor/hcloud/_client.py
  plugins/module_utils/vendor/hcloud/_exceptions.py
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/actions/client.py
  plugins/module_utils/vendor/hcloud/hcloud.py
  plugins/module_utils/vendor/hcloud/isos/client.py
  plugins/module_utils/vendor/hcloud/primary_ips/client.py
Due: none

upgrade code to v2
  plugins/modules/iso_info.py
  plugins/modules/primary_ip.py
Due: none

chore: update vendor files
  plugins/module_utils/vendor/hcloud/__init__.py
  plugins/module_utils/vendor/hcloud/_client.py
  plugins/module_utils/vendor/hcloud/_exceptions.py
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/actions/client.py
  plugins/module_utils/vendor/hcloud/hcloud.py
  plugins/module_utils/vendor/hcloud/isos/client.py
  plugins/module_utils/vendor/hcloud/primary_ips/client.py
  plugins/module_utils/vendor/hcloud/servers/client.py
Due: none

refactor: upgrade code to v2
  plugins/modules/iso_info.py
  plugins/modules/primary_ip.py
  plugins/modules/server.py
  tests/unit/module_utils/test_hcloud.py
Due: none

test: check api error messages instead of final message to work around correlation ids
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/load_balancer/tasks/test.yml
  tests/integration/targets/network/tasks/test.yml
  tests/integration/targets/primary_ip/tasks/test.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server/tasks/test_firewalls.yml
  tests/integration/targets/server/tasks/test_validation.yml
  tests/integration/targets/ssh_key/tasks/test.yml
  tests/integration/targets/volume/tasks/test.yml
Due: check-integration-test-files

docs: add example to assign server to a specific subnet
  examples/server-assign-to-subnetwork.yml
Due: none

do not hardcode the subnetwork IPs
  examples/server-assign-to-subnetwork.yml
Due: none

docs: add example to assign server to a specific subnet (#525)
  examples/server-assign-to-subnetwork.yml
Due: none

fix: update wait_until_finished max retries
  plugins/module_utils/hcloud.py
  plugins/modules/certificate.py
  plugins/modules/server.py
  tests/unit/module_utils/test_client.py
Due: none

add changelog fragment
  changelogs/fragments/exponential-actions-polling-interval.yml
Due: none

feat: use exponential backoff algorithm when polling actions
  plugins/module_utils/client.py
  plugins/module_utils/hcloud.py
  tests/unit/module_utils/test_client.py
Due: none

update comment
  plugins/module_utils/hcloud.py
Due: none

feat: use exponential backoff algorithm when polling actions (#524)
  changelogs/fragments/exponential-actions-polling-interval.yml
  plugins/module_utils/client.py
  plugins/module_utils/hcloud.py
  plugins/modules/certificate.py
  plugins/modules/server.py
  tests/unit/module_utils/test_client.py
Due: none

ci: update gitlab ci config
  .gitlab-ci.yml
  tests/utils/gitlab/gitlab.sh
  tests/utils/gitlab/integration.sh
  tests/utils/gitlab/sanity.sh
Due: none

ci: update gitlab ci config (#529)
  .gitlab-ci.yml
  tests/utils/gitlab/gitlab.sh
  tests/utils/gitlab/integration.sh
  tests/utils/gitlab/sanity.sh
Due: none

deps: update dependency hcloud to v2.1.0
  scripts/vendor.py
Due: check-hcloud-vendor

chore: update files
  plugins/module_utils/vendor/hcloud/__init__.py
  plugins/module_utils/vendor/hcloud/_client.py
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/actions/domain.py
  plugins/module_utils/vendor/hcloud/certificates/domain.py
  plugins/module_utils/vendor/hcloud/core/domain.py
  plugins/module_utils/vendor/hcloud/datacenters/domain.py
  plugins/module_utils/vendor/hcloud/deprecation/domain.py
  plugins/module_utils/vendor/hcloud/firewalls/domain.py
  plugins/module_utils/vendor/hcloud/floating_ips/domain.py
  plugins/module_utils/vendor/hcloud/images/domain.py
  plugins/module_utils/vendor/hcloud/isos/domain.py
  plugins/module_utils/vendor/hcloud/load_balancer_types/domain.py
  plugins/module_utils/vendor/hcloud/load_balancers/domain.py
  plugins/module_utils/vendor/hcloud/locations/domain.py
  plugins/module_utils/vendor/hcloud/metrics/domain.py
  plugins/module_utils/vendor/hcloud/networks/domain.py
  plugins/module_utils/vendor/hcloud/placement_groups/domain.py
  plugins/module_utils/vendor/hcloud/primary_ips/domain.py
  plugins/module_utils/vendor/hcloud/server_types/domain.py
  plugins/module_utils/vendor/hcloud/servers/domain.py
  plugins/module_utils/vendor/hcloud/ssh_keys/domain.py
  plugins/module_utils/vendor/hcloud/volumes/domain.py
Due: none

deps: update dependency hcloud to v2.1.0 (#531)
  plugins/module_utils/vendor/hcloud/__init__.py
  plugins/module_utils/vendor/hcloud/_client.py
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/actions/domain.py
  plugins/module_utils/vendor/hcloud/certificates/domain.py
  plugins/module_utils/vendor/hcloud/core/domain.py
  plugins/module_utils/vendor/hcloud/datacenters/domain.py
  plugins/module_utils/vendor/hcloud/deprecation/domain.py
  plugins/module_utils/vendor/hcloud/firewalls/domain.py
  plugins/module_utils/vendor/hcloud/floating_ips/domain.py
  plugins/module_utils/vendor/hcloud/images/domain.py
  plugins/module_utils/vendor/hcloud/isos/domain.py
  plugins/module_utils/vendor/hcloud/load_balancer_types/domain.py
  plugins/module_utils/vendor/hcloud/load_balancers/domain.py
  plugins/module_utils/vendor/hcloud/locations/domain.py
  plugins/module_utils/vendor/hcloud/metrics/domain.py
  plugins/module_utils/vendor/hcloud/networks/domain.py
  plugins/module_utils/vendor/hcloud/placement_groups/domain.py
  plugins/module_utils/vendor/hcloud/primary_ips/domain.py
  plugins/module_utils/vendor/hcloud/server_types/domain.py
  plugins/module_utils/vendor/hcloud/servers/domain.py
  plugins/module_utils/vendor/hcloud/ssh_keys/domain.py
  plugins/module_utils/vendor/hcloud/volumes/domain.py
  scripts/vendor.py
Due: check-hcloud-vendor

feat: deprecate `server_type_info` `included_traffic` return value
  changelogs/fragments/deprecate-server-type-pricing.yml
  plugins/modules/server_type_info.py
Due: none

add link
  changelogs/fragments/deprecate-server-type-pricing.yml
  plugins/modules/server_type_info.py
Due: none

feat: deprecate `server_type_info` `included_traffic` return value (#532)
  changelogs/fragments/deprecate-server-type-pricing.yml
  plugins/modules/server_type_info.py
Due: none

chore(main): release 4.1.0
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 4.1.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/deprecate-server-type-pricing.yml
  changelogs/fragments/exponential-actions-polling-interval.yml
Due: none

docs: add release summary
  changelogs/fragments/release-summary.yml
Due: none

wip
  changelogs/fragments/release-summary.yml
Due: none

docs: add release summary (#533)
  changelogs/fragments/release-summary.yml
Due: none

chore(main): changelog for version 4.1.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/deprecate-server-type-pricing.yml
  changelogs/fragments/exponential-actions-polling-interval.yml
  changelogs/fragments/release-summary.yml
Due: none

chore(main): release 4.1.0 (#534)
  .github/release-please-manifest.json
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/dev-changelog.md
  changelogs/fragments/deprecate-server-type-pricing.yml
  changelogs/fragments/exponential-actions-polling-interval.yml
  changelogs/fragments/release-summary.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

test: update network delete protection error message
  tests/integration/targets/network/tasks/test.yml
Due: check-integration-test-files

test: update network delete protection error message (#536)
  tests/integration/targets/network/tasks/test.yml
Due: check-integration-test-files

refactor: reuse exponential_backoff_function from hcloud-python
  plugins/module_utils/client.py
  plugins/module_utils/hcloud.py
  tests/unit/module_utils/test_client.py
Due: none

refactor: reuse `exponential_backoff_function` from hcloud-python (#535)
  plugins/module_utils/client.py
  plugins/module_utils/hcloud.py
  tests/unit/module_utils/test_client.py
Due: none

chore: updates files
  plugins/module_utils/vendor/hcloud/_client.py
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/actions/client.py
Due: none

test: add server cleanup timeout workaround
  tests/integration/targets/firewall/tasks/cleanup.yml
  tests/integration/targets/firewall_info/tasks/cleanup.yml
  tests/integration/targets/firewall_resource/tasks/cleanup.yml
Due: check-integration-test-files

test: do not check error messages meant for humans
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/load_balancer/tasks/test.yml
  tests/integration/targets/network/tasks/test.yml
  tests/integration/targets/primary_ip/tasks/test.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server/tasks/test_firewalls.yml
  tests/integration/targets/server/tasks/test_validation.yml
  tests/integration/targets/ssh_key/tasks/test.yml
  tests/integration/targets/volume/tasks/test.yml
Due: check-integration-test-files
