Repository ansible-collections/hetzner.hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hcloud-vendor, check-integration-test-files, check-version-variables

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^plugins/module_utils/vendor/hcloud/.*$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.2
    hooks:
      - id: prettier
        files: \.(md|ya?ml)$
        exclude: ^changelogs/changelog.yaml$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/ansible-community/antsibull-changelog
    rev: 0.23.0
    hooks:
      - id: antsibull-changelog-lint
      - id: antsibull-changelog-lint-changelog-yaml

  - repo: https://github.com/ansible/ansible-lint
    rev: v6.18.0
    hooks:
      - id: ansible-lint
        name: ansible-lint

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.7.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: check-hcloud-vendor
        name: check hcloud vendor
        description: Ensure the hcloud vendored files are in sync
        language: python
        entry: python3 scripts/vendor.py
        pass_filenames: false
        files: ^scripts/vendor.py$

      - id: check-integration-test-files
        name: check integration test files
        description: Ensure the integration test files are in sync
        language: system
        entry: scripts/integration-test-files.sh
        pass_filenames: false
        files: ^(scripts/integration-test-files.sh$|tests/integration)

      - id: check-version-variables
        name: check version variables
        description: Ensure the version variables are in sync
        language: system
        entry: scripts/version-sync.sh
        pass_filenames: false
        files: ^(scripts/version-sync.sh$|galaxy.yml|plugins/module_utils/version.py)

chore: update README badges
  README.md
Due: none

chore: update README badges (#308)
  README.md
Due: none

Fix string formatting error in _check_and_warn_deprecated_server
  plugins/modules/hcloud_server.py
Due: none

chore: add changelog fragment
  changelogs/fragments/fix-string-formatting-error-on-deprecated-server-type-warning.yml
Due: none

fix: string formatting error on deprecated server type warning (#309)
  changelogs/fragments/fix-string-formatting-error-on-deprecated-server-type-warning.yml
  plugins/modules/hcloud_server.py
Due: none

chore: ignore flake8 line length errors
  .flake8
Due: none

refactor: use f-strings
  plugins/inventory/hcloud.py
  plugins/modules/hcloud_floating_ip.py
  plugins/modules/hcloud_load_balancer_network.py
  plugins/modules/hcloud_load_balancer_service.py
  plugins/modules/hcloud_load_balancer_target.py
  plugins/modules/hcloud_server.py
Due: none

chore: prepare v2.1.1
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/fix-string-formatting-error-on-deprecated-server-type-warning.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore: prepare v2.1.1 (#311)
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/fix-string-formatting-error-on-deprecated-server-type-warning.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

refactor: use f-strings (#310)
  .flake8
  plugins/inventory/hcloud.py
  plugins/modules/hcloud_floating_ip.py
  plugins/modules/hcloud_load_balancer_network.py
  plugins/modules/hcloud_load_balancer_service.py
  plugins/modules/hcloud_load_balancer_target.py
  plugins/modules/hcloud_server.py
Due: none

refactor: fix pylint invalid variable name
  plugins/inventory/hcloud.py
  plugins/modules/hcloud_certificate.py
  plugins/modules/hcloud_certificate_info.py
  plugins/modules/hcloud_datacenter_info.py
  plugins/modules/hcloud_firewall.py
  plugins/modules/hcloud_floating_ip.py
  plugins/modules/hcloud_floating_ip_info.py
  plugins/modules/hcloud_image_info.py
  plugins/modules/hcloud_iso_info.py
  plugins/modules/hcloud_load_balancer.py
  plugins/modules/hcloud_load_balancer_info.py
  plugins/modules/hcloud_load_balancer_network.py
  plugins/modules/hcloud_load_balancer_service.py
  plugins/modules/hcloud_load_balancer_target.py
  plugins/modules/hcloud_load_balancer_type_info.py
  plugins/modules/hcloud_location_info.py
  plugins/modules/hcloud_network.py
  plugins/modules/hcloud_network_info.py
  plugins/modules/hcloud_placement_group.py
  plugins/modules/hcloud_primary_ip.py
  plugins/modules/hcloud_primary_ip_info.py
  plugins/modules/hcloud_rdns.py
  plugins/modules/hcloud_route.py
  plugins/modules/hcloud_server.py
  plugins/modules/hcloud_server_info.py
  plugins/modules/hcloud_server_network.py
  plugins/modules/hcloud_server_type_info.py
  plugins/modules/hcloud_ssh_key.py
  plugins/modules/hcloud_ssh_key_info.py
  plugins/modules/hcloud_subnetwork.py
  plugins/modules/hcloud_volume.py
  plugins/modules/hcloud_volume_info.py
Due: none

fix invalid variable name in hcloud_server
  plugins/modules/hcloud_server.py
Due: none

use snake_case
  plugins/modules/hcloud_load_balancer_network.py
  plugins/modules/hcloud_server_network.py
Due: none

more variable names
  plugins/modules/hcloud_server.py
Due: none

ci: explicitly declare pre-commit job
  .gitlab-ci.yml
Due: none

ci: explicitly declare pre-commit job (#313)
  .gitlab-ci.yml
Due: none

refactor: fix pylint invalid variable name (#312)
  plugins/inventory/hcloud.py
  plugins/modules/hcloud_certificate.py
  plugins/modules/hcloud_certificate_info.py
  plugins/modules/hcloud_datacenter_info.py
  plugins/modules/hcloud_firewall.py
  plugins/modules/hcloud_floating_ip.py
  plugins/modules/hcloud_floating_ip_info.py
  plugins/modules/hcloud_image_info.py
  plugins/modules/hcloud_iso_info.py
  plugins/modules/hcloud_load_balancer.py
  plugins/modules/hcloud_load_balancer_info.py
  plugins/modules/hcloud_load_balancer_network.py
  plugins/modules/hcloud_load_balancer_service.py
  plugins/modules/hcloud_load_balancer_target.py
  plugins/modules/hcloud_load_balancer_type_info.py
  plugins/modules/hcloud_location_info.py
  plugins/modules/hcloud_network.py
  plugins/modules/hcloud_network_info.py
  plugins/modules/hcloud_placement_group.py
  plugins/modules/hcloud_primary_ip.py
  plugins/modules/hcloud_primary_ip_info.py
  plugins/modules/hcloud_rdns.py
  plugins/modules/hcloud_route.py
  plugins/modules/hcloud_server.py
  plugins/modules/hcloud_server_info.py
  plugins/modules/hcloud_server_network.py
  plugins/modules/hcloud_server_type_info.py
  plugins/modules/hcloud_ssh_key.py
  plugins/modules/hcloud_ssh_key_info.py
  plugins/modules/hcloud_subnetwork.py
  plugins/modules/hcloud_volume.py
  plugins/modules/hcloud_volume_info.py
Due: none

chore: add antsibull-docs lint-collection pre-commit hook
  .pre-commit-config.yaml
  plugins/modules/hcloud_load_balancer_info.py
  plugins/modules/hcloud_load_balancer_target.py
Due: none

chore: add antsibull-docs lint-collection pre-commit hook (#315)
  .pre-commit-config.yaml
  plugins/modules/hcloud_load_balancer_info.py
  plugins/modules/hcloud_load_balancer_target.py
Due: none

ci: use release-please for tagging new versions
  .github/workflows/release-please.yml
  .pre-commit-config.yaml
  README.md
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
  scripts/version-sync.sh
Due: check-version-variables

chore: format
  plugins/module_utils/version.py
Due: check-version-variables

refactor: remove unnecessary if
  .github/workflows/release-please.yml
Due: none

ci: setup release-please (#317)
  .github/workflows/release-please.yml
  .pre-commit-config.yaml
  README.md
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
  scripts/version-sync.sh
Due: check-version-variables

refactor: add plugins top level `__init__`
  plugins/__init__.py
Due: none

test: use hc-integrations-test.de for certificates
  tests/integration/targets/hcloud_certificate/defaults/main/main.yml
Due: check-integration-test-files

use new vswitch id
  tests/integration/targets/hcloud_subnetwork/defaults/main/main.yml
Due: check-integration-test-files

update hrobot_server_ip for hcloud_load_balancer_target
  tests/integration/targets/hcloud_load_balancer_target/defaults/main/main.yml
  tests/integration/targets/hcloud_load_balancer_target/tasks/test.yml
Due: check-integration-test-files

create hcloud_image_info snapshots on the fly
  tests/integration/targets/hcloud_image_info/defaults/main/main.yml
  tests/integration/targets/hcloud_image_info/meta/main.yml
  tests/integration/targets/hcloud_image_info/tasks/cleanup.yml
  tests/integration/targets/hcloud_image_info/tasks/prepare.yml
  tests/integration/targets/hcloud_image_info/tasks/test.yml
  tests/integration/targets/setup_hcloud_cli/tasks/main.yml
Due: check-integration-test-files

refactor: add plugins top level `__init__` (#320)
  plugins/__init__.py
Due: none

remove delegate to
  tests/integration/targets/hcloud_image_info/tasks/prepare.yml
  tests/integration/targets/setup_hcloud_cli/tasks/main.yml
Due: check-integration-test-files

test: setup new temporary project service for integration tests (#316)
  tests/integration/targets/hcloud_certificate/defaults/main/main.yml
  tests/integration/targets/hcloud_image_info/defaults/main/main.yml
  tests/integration/targets/hcloud_image_info/meta/main.yml
  tests/integration/targets/hcloud_image_info/tasks/cleanup.yml
  tests/integration/targets/hcloud_image_info/tasks/prepare.yml
  tests/integration/targets/hcloud_image_info/tasks/test.yml
  tests/integration/targets/hcloud_load_balancer_target/defaults/main/main.yml
  tests/integration/targets/hcloud_load_balancer_target/tasks/test.yml
  tests/integration/targets/hcloud_subnetwork/defaults/main/main.yml
  tests/integration/targets/setup_hcloud_cli/tasks/main.yml
Due: check-integration-test-files

test: setup new temporary project service for integration tests (stable-1)
  tests/integration/targets/hcloud_certificate/defaults/main.yml
  tests/integration/targets/hcloud_image_info/defaults/main.yml
  tests/integration/targets/hcloud_image_info/meta/main.yml
  tests/integration/targets/hcloud_image_info/tasks/main.yml
  tests/integration/targets/hcloud_load_balancer_target/defaults/main.yml
  tests/integration/targets/hcloud_load_balancer_target/tasks/main.yml
  tests/integration/targets/hcloud_subnetwork/defaults/main.yml
  tests/integration/targets/setup_hcloud_cli/tasks/main.yml
Due: check-integration-test-files

fix yaml
  tests/integration/targets/hcloud_image_info/tasks/main.yml
Due: check-integration-test-files

test: setup new temporary project service for integration tests (stable-1) (#322)
  tests/integration/targets/hcloud_certificate/defaults/main.yml
  tests/integration/targets/hcloud_image_info/defaults/main.yml
  tests/integration/targets/hcloud_image_info/meta/main.yml
  tests/integration/targets/hcloud_image_info/tasks/main.yml
  tests/integration/targets/hcloud_load_balancer_target/defaults/main.yml
  tests/integration/targets/hcloud_load_balancer_target/tasks/main.yml
  tests/integration/targets/hcloud_subnetwork/defaults/main.yml
  tests/integration/targets/setup_hcloud_cli/tasks/main.yml
Due: check-integration-test-files

chore: create venv for development
  Makefile
  requirements.txt
Due: none

chore: add pylint linter
  Makefile
  pyproject.toml
  requirements.txt
Due: none

chore: add dev config (#326)
  Makefile
  pyproject.toml
  requirements.txt
Due: none

ci: add ansible-core 2.16 to the test matrix
  .azure-pipelines/azure-pipelines.yml
Due: none

ci: match python version with ansible-core support matrix
  .azure-pipelines/azure-pipelines.yml
Due: none

ci: add ansible-core 2.16 to the test matrix (#328)
  .azure-pipelines/azure-pipelines.yml
Due: none
