Repository ansible-collections/hetzner.hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hcloud-vendor, check-integration-test-files, check-version-variables

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^plugins/module_utils/vendor/hcloud/.*$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.2
    hooks:
      - id: prettier
        files: \.(md|ya?ml)$
        exclude: ^changelogs/changelog.yaml$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/ansible-community/antsibull-changelog
    rev: 0.23.0
    hooks:
      - id: antsibull-changelog-lint
      - id: antsibull-changelog-lint-changelog-yaml

  - repo: https://github.com/ansible/ansible-lint
    rev: v6.18.0
    hooks:
      - id: ansible-lint
        name: ansible-lint

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.7.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: check-hcloud-vendor
        name: check hcloud vendor
        description: Ensure the hcloud vendored files are in sync
        language: python
        entry: python3 scripts/vendor.py
        pass_filenames: false
        files: ^scripts/vendor.py$

      - id: check-integration-test-files
        name: check integration test files
        description: Ensure the integration test files are in sync
        language: system
        entry: scripts/integration-test-files.sh
        pass_filenames: false
        files: ^(scripts/integration-test-files.sh$|tests/integration)

      - id: check-version-variables
        name: check version variables
        description: Ensure the version variables are in sync
        language: system
        entry: scripts/version-sync.sh
        pass_filenames: false
        files: ^(scripts/version-sync.sh$|galaxy.yml|plugins/module_utils/version.py)

feat: replace `ansible.netcommon` utils with python3 `ipaddress` module (#416)
  changelogs/fragments/replace-deprecated-ansible.netcommon-with-python-ipaddress.yml
  galaxy.yml
  plugins/modules/rdns.py
  tests/integration/targets/rdns/tasks/test.yml
  tests/requirements.yml
Due: check-integration-test-files, check-version-variables

test: remove jinja templates where unnecessary
  tests/integration/targets/certificate/tasks/test.yml
  tests/integration/targets/certificate_info/tasks/test.yml
  tests/integration/targets/firewall/tasks/test.yml
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/floating_ip_info/tasks/test.yml
  tests/integration/targets/image_info/tasks/test.yml
  tests/integration/targets/iso_info/tasks/test.yml
  tests/integration/targets/load_balancer/tasks/test.yml
  tests/integration/targets/load_balancer_info/tasks/test.yml
  tests/integration/targets/network/tasks/test.yml
  tests/integration/targets/network_info/tasks/test.yml
  tests/integration/targets/placement_group/tasks/test.yml
  tests/integration/targets/primary_ip_info/tasks/test.yml
  tests/integration/targets/rdns/tasks/test.yml
  tests/integration/targets/route/tasks/test.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server_info/tasks/test.yml
  tests/integration/targets/ssh_key/tasks/test.yml
  tests/integration/targets/ssh_key_info/tasks/test.yml
  tests/integration/targets/subnetwork/tasks/test.yml
  tests/integration/targets/volume/tasks/test.yml
  tests/integration/targets/volume_info/tasks/test.yml
Due: check-integration-test-files

fix type in assert
  tests/integration/targets/iso_info/tasks/test.yml
Due: check-integration-test-files

docs: restructure guides documentation
  docs/docsite/extra-docs.yml
  docs/docsite/rst/guides.rst
Due: none

docs: add missing anchor/label to rst docs
  docs/docsite/rst/guides.rst
Due: none

feat: allow custom hostvars prefix or suffix
  plugins/inventory/hcloud.py
Due: none

add changelog fragment
  changelogs/fragments/add-inventory-hostvars-prefix-and-suffix-option.yml
Due: none

ensure ansible_host is not prefixed/suffixed
  plugins/inventory/hcloud.py
Due: none

docs: restructure guides documentation (#422)
  docs/docsite/extra-docs.yml
  docs/docsite/rst/guides.rst
Due: none

test: remove jinja templates where unnecessary (#420)
  tests/integration/targets/certificate/tasks/test.yml
  tests/integration/targets/certificate_info/tasks/test.yml
  tests/integration/targets/firewall/tasks/test.yml
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/floating_ip_info/tasks/test.yml
  tests/integration/targets/image_info/tasks/test.yml
  tests/integration/targets/iso_info/tasks/test.yml
  tests/integration/targets/load_balancer/tasks/test.yml
  tests/integration/targets/load_balancer_info/tasks/test.yml
  tests/integration/targets/network/tasks/test.yml
  tests/integration/targets/network_info/tasks/test.yml
  tests/integration/targets/placement_group/tasks/test.yml
  tests/integration/targets/primary_ip_info/tasks/test.yml
  tests/integration/targets/rdns/tasks/test.yml
  tests/integration/targets/route/tasks/test.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server_info/tasks/test.yml
  tests/integration/targets/ssh_key/tasks/test.yml
  tests/integration/targets/ssh_key_info/tasks/test.yml
  tests/integration/targets/subnetwork/tasks/test.yml
  tests/integration/targets/volume/tasks/test.yml
  tests/integration/targets/volume_info/tasks/test.yml
Due: check-integration-test-files

test: use testing framework for firewall integration tests
  .ansible-lint
  tests/integration/targets/firewall/tasks/cleanup.yml
  tests/integration/targets/firewall/tasks/test.yml
Due: check-integration-test-files

test: fix linting error for integrations setup roles
  .ansible-lint
  tests/integration/targets/setup_selfsigned_certificate/tasks/main.yml
  tests/integration/targets/setup_ssh_keypair/tasks/main.yml
Due: check-integration-test-files

refactor: reorder inventory server type host vars
  plugins/inventory/hcloud.py
Due: none

move architecture
  plugins/inventory/hcloud.py
Due: none

refactor: reorder inventory server type host vars (#427)
  plugins/inventory/hcloud.py
Due: none

test: fix linting error for integrations setup roles (#426)
  .ansible-lint
  tests/integration/targets/setup_selfsigned_certificate/tasks/main.yml
  tests/integration/targets/setup_ssh_keypair/tasks/main.yml
Due: check-integration-test-files

test: use testing framework for firewall integration tests (#425)
  .ansible-lint
  tests/integration/targets/firewall/tasks/cleanup.yml
  tests/integration/targets/firewall/tasks/test.yml
Due: check-integration-test-files

fix boolean op precedence
  plugins/inventory/hcloud.py
Due: none

feat: add `hostvars_prefix` and `hostvars_suffix` options to inventory hostvars (#423)
  changelogs/fragments/add-inventory-hostvars-prefix-and-suffix-option.yml
  plugins/inventory/hcloud.py
Due: none

ci: update release-please-action to v4
  .github/release-please-config.json
  .github/release-please-manifest.json
  .github/workflows/release-please.yml
Due: none

ci: update release-please-action to v4 (#429)
  .github/release-please-config.json
  .github/release-please-manifest.json
  .github/workflows/release-please.yml
Due: none

ci: run vendor script on hcloud-python update
  renovate.json
Due: none

chore: update vendored files
  plugins/module_utils/vendor/hcloud/_exceptions.py
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/load_balancers/__init__.py
  plugins/module_utils/vendor/hcloud/load_balancers/client.py
  plugins/module_utils/vendor/hcloud/load_balancers/domain.py
  plugins/module_utils/vendor/hcloud/metrics/__init__.py
  plugins/module_utils/vendor/hcloud/metrics/domain.py
  plugins/module_utils/vendor/hcloud/servers/__init__.py
  plugins/module_utils/vendor/hcloud/servers/client.py
  plugins/module_utils/vendor/hcloud/servers/domain.py
Due: none

chore: enable docs rstcheck
  Makefile
Due: none

refactor: add no return typings
  plugins/module_utils/hcloud.py
Due: none

docs: improve hcloud inventory documentation
  plugins/inventory/hcloud.py
Due: none

docs: improve firewall module docs
  plugins/modules/firewall.py
Due: none

test: ignore yamllint error on inventory examples
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
Due: none

refactor: add no return typings (#433)
  plugins/module_utils/hcloud.py
Due: none

chore: enable docs rstcheck (#432)
  Makefile
Due: none

docs: improve firewall module documentation (#435)
  plugins/modules/firewall.py
Due: none

docs: improve hcloud inventory documentation (#434)
  plugins/inventory/hcloud.py
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.16.txt
Due: none

ci: use latest python version for ansible devel jobs
  .azure-pipelines/azure-pipelines.yml
Due: none

ci: use latest python version for ansible devel jobs (#436)
  .azure-pipelines/azure-pipelines.yml
Due: none

chore: update vendor files
  plugins/module_utils/vendor/hcloud/__init__.py
  plugins/module_utils/vendor/hcloud/_version.py
Due: none

chore: warn on ansible lint unsupported-version
  .ansible-lint
Due: none

feat(firewall): add applied_to to return values
  plugins/modules/firewall.py
  tests/integration/targets/firewall/tasks/test.yml
Due: check-integration-test-files

feat: implement firewall_resource module
  meta/runtime.yml
  plugins/modules/firewall_resource.py
  tests/integration/targets/firewall_resource/aliases
  tests/integration/targets/firewall_resource/defaults/main/common.yml
  tests/integration/targets/firewall_resource/defaults/main/main.yml
  tests/integration/targets/firewall_resource/tasks/cleanup.yml
  tests/integration/targets/firewall_resource/tasks/main.yml
  tests/integration/targets/firewall_resource/tasks/prepare.yml
  tests/integration/targets/firewall_resource/tasks/test.yml
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Due: check-integration-test-files

feat: implement firewall_info module
  meta/runtime.yml
  plugins/modules/firewall_info.py
  tests/integration/targets/firewall_info/aliases
  tests/integration/targets/firewall_info/defaults/main/common.yml
  tests/integration/targets/firewall_info/defaults/main/main.yml
  tests/integration/targets/firewall_info/tasks/cleanup.yml
  tests/integration/targets/firewall_info/tasks/main.yml
  tests/integration/targets/firewall_info/tasks/prepare.yml
  tests/integration/targets/firewall_info/tasks/test.yml
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Due: check-integration-test-files

docs: add firewall resource example playbook
  examples/server-with-firewall.yml
Due: none
