Repository ansible-collections/hetzner.hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hcloud-vendor, check-integration-test-files, check-version-variables

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^plugins/module_utils/vendor/hcloud/.*$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.2
    hooks:
      - id: prettier
        files: \.(md|ya?ml)$
        exclude: ^changelogs/changelog.yaml$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/ansible-community/antsibull-changelog
    rev: 0.23.0
    hooks:
      - id: antsibull-changelog-lint
      - id: antsibull-changelog-lint-changelog-yaml

  - repo: https://github.com/ansible/ansible-lint
    rev: v6.18.0
    hooks:
      - id: ansible-lint
        name: ansible-lint

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.7.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: check-hcloud-vendor
        name: check hcloud vendor
        description: Ensure the hcloud vendored files are in sync
        language: python
        entry: python3 scripts/vendor.py
        pass_filenames: false
        files: ^scripts/vendor.py$

      - id: check-integration-test-files
        name: check integration test files
        description: Ensure the integration test files are in sync
        language: system
        entry: scripts/integration-test-files.sh
        pass_filenames: false
        files: ^(scripts/integration-test-files.sh$|tests/integration)

      - id: check-version-variables
        name: check version variables
        description: Ensure the version variables are in sync
        language: system
        entry: scripts/version-sync.sh
        pass_filenames: false
        files: ^(scripts/version-sync.sh$|galaxy.yml|plugins/module_utils/version.py)

test: add server cleanup timeout workaround (#539)
  tests/integration/targets/firewall/tasks/cleanup.yml
  tests/integration/targets/firewall_info/tasks/cleanup.yml
  tests/integration/targets/firewall_resource/tasks/cleanup.yml
Due: check-integration-test-files

test: do not check error messages meant for humans (#540)
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/load_balancer/tasks/test.yml
  tests/integration/targets/network/tasks/test.yml
  tests/integration/targets/primary_ip/tasks/test.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server/tasks/test_firewalls.yml
  tests/integration/targets/server/tasks/test_validation.yml
  tests/integration/targets/ssh_key/tasks/test.yml
  tests/integration/targets/volume/tasks/test.yml
Due: check-integration-test-files

test: ensure location is used for tests
  tests/integration/targets/firewall/tasks/prepare.yml
  tests/integration/targets/firewall_info/tasks/prepare.yml
  tests/integration/targets/firewall_resource/tasks/prepare.yml
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/image_info/tasks/prepare.yml
  tests/integration/targets/load_balancer_info/tasks/prepare.yml
  tests/integration/targets/load_balancer_target/tasks/test.yml
  tests/integration/targets/primary_ip/tasks/prepare.yml
  tests/integration/targets/rdns/tasks/prepare.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server_info/tasks/prepare.yml
  tests/integration/targets/server_network/tasks/prepare.yml
  tests/integration/targets/ssh_key/tasks/test.yml
Due: check-integration-test-files

test: ensure location is used for tests (#541)
  tests/integration/targets/firewall/tasks/prepare.yml
  tests/integration/targets/firewall_info/tasks/prepare.yml
  tests/integration/targets/firewall_resource/tasks/prepare.yml
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/image_info/tasks/prepare.yml
  tests/integration/targets/load_balancer_info/tasks/prepare.yml
  tests/integration/targets/load_balancer_target/tasks/test.yml
  tests/integration/targets/primary_ip/tasks/prepare.yml
  tests/integration/targets/rdns/tasks/prepare.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server_info/tasks/prepare.yml
  tests/integration/targets/server_network/tasks/prepare.yml
  tests/integration/targets/ssh_key/tasks/test.yml
Due: check-integration-test-files

chore: update files
  plugins/module_utils/vendor/hcloud/_client.py
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/networks/domain.py
Due: none

test: improve load_balancer_network integration using the testing framework
  .ansible-lint
  tests/integration/targets/load_balancer_network/tasks/cleanup.yml
  tests/integration/targets/load_balancer_network/tasks/prepare.yml
  tests/integration/targets/load_balancer_network/tasks/test.yml
Due: check-integration-test-files

test: improve `load_balancer_network` integration using new framework (#545)
  .ansible-lint
  tests/integration/targets/load_balancer_network/tasks/cleanup.yml
  tests/integration/targets/load_balancer_network/tasks/prepare.yml
  tests/integration/targets/load_balancer_network/tasks/test.yml
Due: check-integration-test-files

test: improve load_balancer_service integration using new framework
  .ansible-lint
  tests/integration/targets/load_balancer_service/tasks/cleanup.yml
  tests/integration/targets/load_balancer_service/tasks/prepare.yml
  tests/integration/targets/load_balancer_service/tasks/test.yml
Due: check-integration-test-files

test: improve `load_balancer_service` integration using new framework (#546)
  .ansible-lint
  tests/integration/targets/load_balancer_service/tasks/cleanup.yml
  tests/integration/targets/load_balancer_service/tasks/prepare.yml
  tests/integration/targets/load_balancer_service/tasks/test.yml
Due: check-integration-test-files

test: improve load_balancer_target integration using new framework
  .ansible-lint
  tests/integration/targets/load_balancer_target/tasks/cleanup.yml
  tests/integration/targets/load_balancer_target/tasks/prepare.yml
  tests/integration/targets/load_balancer_target/tasks/test.yml
Due: check-integration-test-files

test: improve `load_balancer_target` integration using new framework (#547)
  .ansible-lint
  tests/integration/targets/load_balancer_target/tasks/cleanup.yml
  tests/integration/targets/load_balancer_target/tasks/prepare.yml
  tests/integration/targets/load_balancer_target/tasks/test.yml
Due: check-integration-test-files

chore: fix sanity tests
  tests/unit/module_utils/test_hcloud.py
Due: none

chore: fix sanity unreachable code (#548)
  tests/unit/module_utils/test_hcloud.py
Due: none

README: Add Communication section with Forum information
  README.md
Due: none

add hcloud tag in communication links
  README.md
Due: none

docs: add communication section with forum information (#549)
  README.md
Due: none

feat: compute the load_balancer status using a filter
  changelogs/fragments/load-balancer-status-filter.yml
  plugins/filter/all.py
  plugins/filter/load_balancer_status.yml
  tests/integration/targets/filter_all/aliases
  tests/integration/targets/filter_all/defaults/main/common.yml
  tests/integration/targets/filter_all/tasks/main.yml
  tests/integration/targets/filter_all/tasks/test.yml
  tests/unit/filter/test_all.py
Due: check-integration-test-files

docs: remove invalid field from load-balancer modules
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_info.py
Due: none

feat: compute load balancer targets status using a filter (#550)
  changelogs/fragments/load-balancer-status-filter.yml
  plugins/filter/all.py
  plugins/filter/load_balancer_status.yml
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_info.py
  tests/integration/targets/filter_all/aliases
  tests/integration/targets/filter_all/defaults/main/common.yml
  tests/integration/targets/filter_all/tasks/main.yml
  tests/integration/targets/filter_all/tasks/test.yml
  tests/unit/filter/test_all.py
Due: check-integration-test-files

fix: ensure load_balancer_status filter check label_selector child targets
  plugins/filter/all.py
  tests/unit/filter/test_all.py
Due: none

test: full test coverage
  plugins/filter/all.py
  tests/unit/filter/test_all.py
Due: none

test: fix integration
  tests/integration/targets/filter_all/tasks/test.yml
Due: check-integration-test-files

fix: check label_selector child targets with load_balancer_status filter (#552)
  plugins/filter/all.py
  tests/integration/targets/filter_all/tasks/test.yml
  tests/unit/filter/test_all.py
Due: check-integration-test-files

update files
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/load_balancer_types/domain.py
  plugins/module_utils/vendor/hcloud/server_types/domain.py
Due: none

chore(main): release 4.2.0
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 4.2.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/load-balancer-status-filter.yml
Due: none

chore(main): release 4.2.0 (#551)
  .github/release-please-manifest.json
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/dev-changelog.md
  changelogs/fragments/load-balancer-status-filter.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

teantative fix for timeouts during server creation when Hetzner is busy
  plugins/modules/server.py
Due: none

even more
  plugins/modules/server.py
Due: none

debug
  plugins/modules/server.py
Due: none

firewall_resource.py - wrong examples
  plugins/modules/firewall_resource.py
Due: none

wait more for next action after server creation is requested
  plugins/modules/server.py
Due: none

removed debug messages
  plugins/modules/server.py
Due: none

docs: fix `firewall_resource` examples input parameters (#557)
  plugins/modules/firewall_resource.py
Due: none

fix(server): timeout in server creation when waiting on next actions
  changelogs/fragments/server-create-next-actions.yml
  plugins/modules/server.py
Due: none

fix(server): timeout in server creation when waiting on next actions (#561)
  changelogs/fragments/server-create-next-actions.yml
  plugins/modules/server.py
Due: none
