Repository ansible-collections/hetzner.hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hcloud-vendor, check-integration-test-files, check-version-variables

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^plugins/module_utils/vendor/hcloud/.*$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.2
    hooks:
      - id: prettier
        files: \.(md|ya?ml)$
        exclude: ^changelogs/changelog.yaml$

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/ansible-community/antsibull-changelog
    rev: 0.23.0
    hooks:
      - id: antsibull-changelog-lint
      - id: antsibull-changelog-lint-changelog-yaml

  - repo: https://github.com/ansible/ansible-lint
    rev: v6.18.0
    hooks:
      - id: ansible-lint
        name: ansible-lint

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.7.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: check-hcloud-vendor
        name: check hcloud vendor
        description: Ensure the hcloud vendored files are in sync
        language: python
        entry: python3 scripts/vendor.py
        pass_filenames: false
        files: ^scripts/vendor.py$

      - id: check-integration-test-files
        name: check integration test files
        description: Ensure the integration test files are in sync
        language: system
        entry: scripts/integration-test-files.sh
        pass_filenames: false
        files: ^(scripts/integration-test-files.sh$|tests/integration)

      - id: check-version-variables
        name: check version variables
        description: Ensure the version variables are in sync
        language: system
        entry: scripts/version-sync.sh
        pass_filenames: false
        files: ^(scripts/version-sync.sh$|galaxy.yml|plugins/module_utils/version.py)

wip
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server/tasks/test_firewalls.yml
  tests/integration/targets/server/tasks/test_private_network_only.yml
Due: check-integration-test-files

test: do not start server where possible
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/load_balancer_info/tasks/prepare.yml
  tests/integration/targets/load_balancer_target/tasks/test.yml
  tests/integration/targets/server_info/tasks/prepare.yml
  tests/integration/targets/volume/tasks/test.yml
Due: check-integration-test-files

test: do not start server where possible (#461)
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/load_balancer_info/tasks/prepare.yml
  tests/integration/targets/load_balancer_target/tasks/test.yml
  tests/integration/targets/server_info/tasks/prepare.yml
  tests/integration/targets/volume/tasks/test.yml
Due: check-integration-test-files

test: improve primary_ip integration using the testing framework
  tests/integration/targets/primary_ip/tasks/cleanup.yml
  tests/integration/targets/primary_ip/tasks/test.yml
Due: check-integration-test-files

test: improve primary_ip integration using the testing framework (#468)
  tests/integration/targets/primary_ip/tasks/cleanup.yml
  tests/integration/targets/primary_ip/tasks/test.yml
Due: check-integration-test-files

chore: add `fail_on_invalid_params` helper
  plugins/module_utils/hcloud.py
Due: none

test: add tests for fail_on_invalid_params
  tests/unit/conftest.py
  tests/unit/module_utils/test_hcloud.py
Due: none

chore: add `fail_on_invalid_params` helper (#470)
  plugins/module_utils/hcloud.py
  tests/unit/conftest.py
  tests/unit/module_utils/test_hcloud.py
Due: none

fix: handle the primary ip `auto_delete` option
  changelogs/fragments/primary-ip-auto-delete.yml
  plugins/modules/primary_ip.py
  plugins/modules/primary_ip_info.py
  tests/integration/targets/primary_ip/tasks/test.yml
Due: check-integration-test-files

feat: assign new primary ip to a server
  changelogs/fragments/primary-ip-assigned-to-server.yml
  plugins/modules/primary_ip.py
  tests/integration/targets/primary_ip/tasks/cleanup.yml
  tests/integration/targets/primary_ip/tasks/prepare.yml
  tests/integration/targets/primary_ip/tasks/test.yml
Due: check-integration-test-files

feat: assign primary ip to a server on create (#465)
  changelogs/fragments/primary-ip-assigned-to-server.yml
  changelogs/fragments/primary-ip-auto-delete.yml
  plugins/modules/primary_ip.py
  plugins/modules/primary_ip_info.py
  tests/integration/targets/primary_ip/tasks/cleanup.yml
  tests/integration/targets/primary_ip/tasks/prepare.yml
  tests/integration/targets/primary_ip/tasks/test.yml
Due: check-integration-test-files

chore: update vendored files
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/load_balancers/domain.py
Due: none

chore(main): release 3.1.0
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 3.1.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/primary-ip-assigned-to-server.yml
  changelogs/fragments/primary-ip-auto-delete.yml
  changelogs/fragments/sort-alias-ips-in-server-network.yml
Due: none

refactor: remove unneeded to_native calls
  plugins/inventory/hcloud.py
  plugins/modules/certificate.py
  plugins/modules/certificate_info.py
  plugins/modules/datacenter_info.py
  plugins/modules/firewall.py
  plugins/modules/firewall_info.py
  plugins/modules/firewall_resource.py
  plugins/modules/floating_ip.py
  plugins/modules/floating_ip_info.py
  plugins/modules/image_info.py
  plugins/modules/iso_info.py
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_info.py
  plugins/modules/load_balancer_network.py
  plugins/modules/load_balancer_service.py
  plugins/modules/load_balancer_target.py
  plugins/modules/load_balancer_type_info.py
  plugins/modules/location_info.py
  plugins/modules/network.py
  plugins/modules/network_info.py
  plugins/modules/placement_group.py
  plugins/modules/primary_ip.py
  plugins/modules/primary_ip_info.py
  plugins/modules/rdns.py
  plugins/modules/route.py
  plugins/modules/server.py
  plugins/modules/server_info.py
  plugins/modules/server_network.py
  plugins/modules/server_type_info.py
  plugins/modules/ssh_key.py
  plugins/modules/ssh_key_info.py
  plugins/modules/subnetwork.py
  plugins/modules/volume.py
  plugins/modules/volume_info.py
Due: none

refactor: cleanup prepare_result methods
  plugins/modules/certificate.py
  plugins/modules/certificate_info.py
  plugins/modules/firewall.py
  plugins/modules/firewall_info.py
  plugins/modules/floating_ip.py
  plugins/modules/floating_ip_info.py
  plugins/modules/image_info.py
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_info.py
  plugins/modules/load_balancer_service.py
  plugins/modules/load_balancer_type_info.py
  plugins/modules/location_info.py
  plugins/modules/network_info.py
  plugins/modules/primary_ip_info.py
  plugins/modules/server.py
  plugins/modules/server_info.py
  plugins/modules/server_network.py
  plugins/modules/server_type_info.py
  plugins/modules/ssh_key_info.py
  plugins/modules/volume.py
  plugins/modules/volume_info.py
Due: none

refactor: remove unused import
  plugins/modules/certificate.py
  plugins/modules/certificate_info.py
  plugins/modules/datacenter_info.py
  plugins/modules/firewall.py
  plugins/modules/firewall_info.py
  plugins/modules/firewall_resource.py
  plugins/modules/floating_ip.py
  plugins/modules/floating_ip_info.py
  plugins/modules/image_info.py
  plugins/modules/iso_info.py
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_info.py
  plugins/modules/load_balancer_network.py
  plugins/modules/load_balancer_service.py
  plugins/modules/load_balancer_target.py
  plugins/modules/load_balancer_type_info.py
  plugins/modules/location_info.py
  plugins/modules/network.py
  plugins/modules/network_info.py
  plugins/modules/placement_group.py
  plugins/modules/primary_ip.py
  plugins/modules/primary_ip_info.py
  plugins/modules/rdns.py
  plugins/modules/route.py
  plugins/modules/server.py
  plugins/modules/server_info.py
  plugins/modules/server_network.py
  plugins/modules/server_type_info.py
  plugins/modules/ssh_key.py
  plugins/modules/ssh_key_info.py
  plugins/modules/subnetwork.py
  plugins/modules/volume.py
  plugins/modules/volume_info.py
Due: none

chore: disable out of scope pylint rules
  pyproject.toml
Due: none

refactor: remove unneeded `to_native` calls (#477)
  plugins/inventory/hcloud.py
  plugins/modules/certificate.py
  plugins/modules/certificate_info.py
  plugins/modules/datacenter_info.py
  plugins/modules/firewall.py
  plugins/modules/firewall_info.py
  plugins/modules/firewall_resource.py
  plugins/modules/floating_ip.py
  plugins/modules/floating_ip_info.py
  plugins/modules/image_info.py
  plugins/modules/iso_info.py
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_info.py
  plugins/modules/load_balancer_network.py
  plugins/modules/load_balancer_service.py
  plugins/modules/load_balancer_target.py
  plugins/modules/load_balancer_type_info.py
  plugins/modules/location_info.py
  plugins/modules/network.py
  plugins/modules/network_info.py
  plugins/modules/placement_group.py
  plugins/modules/primary_ip.py
  plugins/modules/primary_ip_info.py
  plugins/modules/rdns.py
  plugins/modules/route.py
  plugins/modules/server.py
  plugins/modules/server_info.py
  plugins/modules/server_network.py
  plugins/modules/server_type_info.py
  plugins/modules/ssh_key.py
  plugins/modules/ssh_key_info.py
  plugins/modules/subnetwork.py
  plugins/modules/volume.py
  plugins/modules/volume_info.py
Due: none

chore: disable out of scope pylint rules (#478)
  pyproject.toml
Due: none

chore: update vendored files
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/core/domain.py
  plugins/module_utils/vendor/hcloud/firewalls/domain.py
  plugins/module_utils/vendor/hcloud/floating_ips/domain.py
  plugins/module_utils/vendor/hcloud/load_balancers/domain.py
  plugins/module_utils/vendor/hcloud/networks/domain.py
  plugins/module_utils/vendor/hcloud/placement_groups/domain.py
  plugins/module_utils/vendor/hcloud/primary_ips/domain.py
  plugins/module_utils/vendor/hcloud/servers/domain.py
Due: none

test: disable fact gathering in integration tests
  tests/integration/targets/certificate/aliases
  tests/integration/targets/certificate_info/aliases
  tests/integration/targets/datacenter_info/aliases
  tests/integration/targets/firewall/aliases
  tests/integration/targets/firewall_info/aliases
  tests/integration/targets/firewall_resource/aliases
  tests/integration/targets/floating_ip/aliases
  tests/integration/targets/floating_ip_info/aliases
  tests/integration/targets/image_info/aliases
  tests/integration/targets/iso_info/aliases
  tests/integration/targets/load_balancer/aliases
  tests/integration/targets/load_balancer_info/aliases
  tests/integration/targets/load_balancer_network/aliases
  tests/integration/targets/load_balancer_service/aliases
  tests/integration/targets/load_balancer_target/aliases
  tests/integration/targets/load_balancer_type_info/aliases
  tests/integration/targets/location_info/aliases
  tests/integration/targets/network/aliases
  tests/integration/targets/network_info/aliases
  tests/integration/targets/placement_group/aliases
  tests/integration/targets/primary_ip/aliases
  tests/integration/targets/primary_ip_info/aliases
  tests/integration/targets/rdns/aliases
  tests/integration/targets/route/aliases
  tests/integration/targets/server/aliases
  tests/integration/targets/server_info/aliases
  tests/integration/targets/server_network/aliases
  tests/integration/targets/server_type_info/aliases
  tests/integration/targets/ssh_key/aliases
  tests/integration/targets/ssh_key_info/aliases
  tests/integration/targets/subnetwork/aliases
  tests/integration/targets/volume/aliases
  tests/integration/targets/volume_info/aliases
Due: check-integration-test-files

chore: update vendored files
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/images/client.py
Due: none

test: disable fact gathering in integration tests (#482)
  tests/integration/targets/certificate/aliases
  tests/integration/targets/certificate_info/aliases
  tests/integration/targets/datacenter_info/aliases
  tests/integration/targets/firewall/aliases
  tests/integration/targets/firewall_info/aliases
  tests/integration/targets/firewall_resource/aliases
  tests/integration/targets/floating_ip/aliases
  tests/integration/targets/floating_ip_info/aliases
  tests/integration/targets/image_info/aliases
  tests/integration/targets/iso_info/aliases
  tests/integration/targets/load_balancer/aliases
  tests/integration/targets/load_balancer_info/aliases
  tests/integration/targets/load_balancer_network/aliases
  tests/integration/targets/load_balancer_service/aliases
  tests/integration/targets/load_balancer_target/aliases
  tests/integration/targets/load_balancer_type_info/aliases
  tests/integration/targets/location_info/aliases
  tests/integration/targets/network/aliases
  tests/integration/targets/network_info/aliases
  tests/integration/targets/placement_group/aliases
  tests/integration/targets/primary_ip/aliases
  tests/integration/targets/primary_ip_info/aliases
  tests/integration/targets/rdns/aliases
  tests/integration/targets/route/aliases
  tests/integration/targets/server/aliases
  tests/integration/targets/server_info/aliases
  tests/integration/targets/server_network/aliases
  tests/integration/targets/server_type_info/aliases
  tests/integration/targets/ssh_key/aliases
  tests/integration/targets/ssh_key_info/aliases
  tests/integration/targets/subnetwork/aliases
  tests/integration/targets/volume/aliases
  tests/integration/targets/volume_info/aliases
Due: check-integration-test-files

docs: use argument spec to mark `force_upgrade` as deprecated
  plugins/modules/server.py
Due: none

test: force firewall cleanup before running server cleanup
  tests/integration/targets/firewall/tasks/cleanup.yml
  tests/integration/targets/firewall_info/tasks/cleanup.yml
  tests/integration/targets/firewall_resource/tasks/cleanup.yml
Due: check-integration-test-files

test: check for api error code when possible
  tests/integration/targets/firewall/tasks/test.yml
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/load_balancer/tasks/test.yml
  tests/integration/targets/network/tasks/test.yml
  tests/integration/targets/primary_ip/tasks/test.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server/tasks/test_firewalls.yml
  tests/integration/targets/server/tasks/test_validation.yml
  tests/integration/targets/ssh_key/tasks/test.yml
  tests/integration/targets/volume/tasks/test.yml
Due: check-integration-test-files

docs: use argument spec to mark `force_upgrade` as deprecated (#481)
  plugins/modules/server.py
Due: none

feat: use resources name or ID as server module arguments
  changelogs/fragments/server-use-id-or-name.yml
  plugins/modules/server.py
Due: none

feat: use resources name or ID in server module arguments (#484)
  changelogs/fragments/server-use-id-or-name.yml
  plugins/modules/server.py
Due: none

test: force firewall cleanup before running server cleanup (#485)
  tests/integration/targets/firewall/tasks/cleanup.yml
  tests/integration/targets/firewall_info/tasks/cleanup.yml
  tests/integration/targets/firewall_resource/tasks/cleanup.yml
Due: check-integration-test-files

test: check for api error code when possible (#486)
  tests/integration/targets/firewall/tasks/test.yml
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/load_balancer/tasks/test.yml
  tests/integration/targets/network/tasks/test.yml
  tests/integration/targets/primary_ip/tasks/test.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server/tasks/test_firewalls.yml
  tests/integration/targets/server/tasks/test_validation.yml
  tests/integration/targets/ssh_key/tasks/test.yml
  tests/integration/targets/volume/tasks/test.yml
Due: check-integration-test-files

feat: rename server `image_allow_deprecated` option
  changelogs/fragments/server-rename-image_allow_deprecated-argument.yml
  plugins/modules/server.py
Due: none

feat: rename server `image_allow_deprecated` option (#487)
  changelogs/fragments/server-rename-image_allow_deprecated-argument.yml
  plugins/modules/server.py
Due: none

fix: use empty string to remove server from its placement group
  changelogs/fragments/server-empty-string-arguments.yml
  tests/integration/targets/placement_group/tasks/test.yml
Due: check-integration-test-files

fix: use empty string to remove server from its placement group (#489)
  changelogs/fragments/server-empty-string-arguments.yml
  tests/integration/targets/placement_group/tasks/test.yml
Due: check-integration-test-files

refactor: unchain action wait_until_finished calls
  plugins/modules/floating_ip.py
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_network.py
  plugins/modules/load_balancer_service.py
  plugins/modules/load_balancer_target.py
  plugins/modules/network.py
  plugins/modules/primary_ip.py
  plugins/modules/rdns.py
  plugins/modules/route.py
  plugins/modules/server.py
  plugins/modules/server_network.py
  plugins/modules/subnetwork.py
  plugins/modules/volume.py
Due: none

fix: improve actions waiting timeout based on data
  plugins/modules/certificate.py
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_service.py
  plugins/modules/server.py
Due: none

fix: increase certificates creation timeout
  plugins/modules/certificate.py
Due: none

fix: increase server create timeout to 30m
  plugins/modules/server.py
Due: none
