Repository ansible-collections/hetzner.hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hcloud-vendor, check-integration-test-files, check-version-variables

check-hcloud-vendor:
  name: check hcloud vendor
  description: Ensure the hcloud vendored files are in sync
  language: python
  entry: python3 scripts/vendor.py
  pass_filenames: false

check-integration-test-files:
  name: check integration test files
  description: Ensure the integration test files are in sync
  language: system
  entry: scripts/integration-test-files.sh
  pass_filenames: false

check-version-variables:
  name: check version variables
  description: Ensure the version variables are in sync
  language: system
  entry: scripts/version-sync.sh
  pass_filenames: false

fix: improve actions waiting timeout based on data (#488)
  plugins/modules/certificate.py
  plugins/modules/floating_ip.py
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_network.py
  plugins/modules/load_balancer_service.py
  plugins/modules/load_balancer_target.py
  plugins/modules/network.py
  plugins/modules/primary_ip.py
  plugins/modules/rdns.py
  plugins/modules/route.py
  plugins/modules/server.py
  plugins/modules/server_network.py
  plugins/modules/subnetwork.py
  plugins/modules/volume.py
Due: none

chore(main): release 3.1.0
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 3.1.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/primary-ip-assigned-to-server.yml
  changelogs/fragments/primary-ip-auto-delete.yml
  changelogs/fragments/server-empty-string-arguments.yml
  changelogs/fragments/server-rename-image_allow_deprecated-argument.yml
  changelogs/fragments/server-use-id-or-name.yml
  changelogs/fragments/sort-alias-ips-in-server-network.yml
Due: none

chore(main): release 3.1.0 (#460)
  .github/release-please-manifest.json
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/dev-changelog.md
  changelogs/fragments/primary-ip-assigned-to-server.yml
  changelogs/fragments/primary-ip-auto-delete.yml
  changelogs/fragments/server-empty-string-arguments.yml
  changelogs/fragments/server-rename-image_allow_deprecated-argument.yml
  changelogs/fragments/server-use-id-or-name.yml
  changelogs/fragments/sort-alias-ips-in-server-network.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

fix(inventory): ensure host ipv6 variable is json serializable
  changelogs/fragments/inventory-fix-serialization.yml
  plugins/inventory/hcloud.py
  tests/unit/inventory/test_hcloud.py
Due: none

test(inventory): add initial test for build_inventory_server method
  tests/unit/inventory/test_hcloud.py
Due: none

chore: fix pylint
  tests/unit/inventory/test_hcloud.py
Due: none

fix(inventory): ensure host ipv6 variable is json serializable (#496)
  changelogs/fragments/inventory-fix-serialization.yml
  plugins/inventory/hcloud.py
  tests/unit/inventory/test_hcloud.py
Due: none

chore(main): release 3.1.1
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 3.1.1
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/inventory-fix-serialization.yml
Due: none

chore(main): release 3.1.1 (#497)
  .github/release-please-manifest.json
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/dev-changelog.md
  changelogs/fragments/inventory-fix-serialization.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

ci: use new release-please action
  .github/workflows/release-please.yml
Due: none

ci: use new release-please action (#506)
  .github/workflows/release-please.yml
Due: none

ci: add ansible-core 2.17 to the test matrix
  .azure-pipelines/azure-pipelines.yml
Due: none

ci: update ansible test container to v6.0.0
  .azure-pipelines/azure-pipelines.yml
Due: none

ci: add ansible-core 2.17 to the test matrix (#508)
  .azure-pipelines/azure-pipelines.yml
Due: none

chore: replace deprecated server type with cx22 Learn more: https://docs.hetzner.cloud/changelog#2024-06-06-old-server-types-with-shared-intel-vcpus-are-deprecated
  docs/docsite/rst/guides.rst
  examples/server-with-firewall.yml
  examples/server-with-private-ip-only.yml
  examples/use-module-defaults-group.yml
  examples/use-refresh-inventory.yml
  plugins/inventory/hcloud.py
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_info.py
  plugins/modules/network_info.py
  plugins/modules/server.py
  plugins/modules/server_info.py
Due: none

test: use cax server type
  tests/integration/targets/firewall/tasks/prepare.yml
  tests/integration/targets/firewall_info/tasks/prepare.yml
  tests/integration/targets/firewall_resource/tasks/prepare.yml
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/image_info/tasks/prepare.yml
  tests/integration/targets/load_balancer_info/tasks/prepare.yml
  tests/integration/targets/load_balancer_target/tasks/test.yml
  tests/integration/targets/primary_ip/tasks/prepare.yml
  tests/integration/targets/rdns/tasks/prepare.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server/tasks/test_validation.yml
  tests/integration/targets/server_info/tasks/prepare.yml
  tests/integration/targets/server_network/tasks/prepare.yml
  tests/integration/targets/server_type_info/defaults/main/main.yml
  tests/integration/targets/server_type_info/tasks/test.yml
  tests/integration/targets/ssh_key/tasks/test.yml
  tests/integration/targets/volume/tasks/test.yml
Due: check-integration-test-files

feat!: drop support for ansible-core 2.14
  .azure-pipelines/azure-pipelines.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  changelogs/fragments/drop-support-for-ansible-core-2.14.yml
  meta/runtime.yml
  requirements.txt
  tests/sanity/ignore-2.14.txt
Due: none

test: add workaround to prevent a server deletion timeout (5m)
  tests/integration/targets/primary_ip/tasks/test.yml
Due: check-integration-test-files

test: add workaround to prevent a timeout during the server deletion (#513)
  tests/integration/targets/primary_ip/tasks/test.yml
Due: check-integration-test-files

chore: replace deprecated server type with cx22 (#510)
  docs/docsite/rst/guides.rst
  examples/server-with-firewall.yml
  examples/server-with-private-ip-only.yml
  examples/use-module-defaults-group.yml
  examples/use-refresh-inventory.yml
  plugins/inventory/hcloud.py
  plugins/modules/load_balancer.py
  plugins/modules/load_balancer_info.py
  plugins/modules/network_info.py
  plugins/modules/server.py
  plugins/modules/server_info.py
  tests/integration/targets/firewall/tasks/prepare.yml
  tests/integration/targets/firewall_info/tasks/prepare.yml
  tests/integration/targets/firewall_resource/tasks/prepare.yml
  tests/integration/targets/floating_ip/tasks/test.yml
  tests/integration/targets/image_info/tasks/prepare.yml
  tests/integration/targets/load_balancer_info/tasks/prepare.yml
  tests/integration/targets/load_balancer_target/tasks/test.yml
  tests/integration/targets/primary_ip/tasks/prepare.yml
  tests/integration/targets/rdns/tasks/prepare.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server/tasks/test_validation.yml
  tests/integration/targets/server_info/tasks/prepare.yml
  tests/integration/targets/server_network/tasks/prepare.yml
  tests/integration/targets/server_type_info/defaults/main/main.yml
  tests/integration/targets/server_type_info/tasks/test.yml
  tests/integration/targets/ssh_key/tasks/test.yml
  tests/integration/targets/volume/tasks/test.yml
Due: check-integration-test-files

feat!: drop support for ansible-core 2.14 (#512)
  .azure-pipelines/azure-pipelines.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  changelogs/fragments/drop-support-for-ansible-core-2.14.yml
  meta/runtime.yml
  requirements.txt
  tests/sanity/ignore-2.14.txt
Due: none

chore(main): release 4.0.0
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 4.0.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/drop-support-for-ansible-core-2.14.yml
Due: none

chore(main): release 4.0.0 (#514)
  .github/release-please-manifest.json
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/dev-changelog.md
  changelogs/fragments/drop-support-for-ansible-core-2.14.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

fix: keep deprecated alias for another major version
  changelogs/fragments/keep-deprecated-alias.yml
  plugins/modules/server.py
Due: none

fix: keep deprecated alias for another major version (#515)
  changelogs/fragments/keep-deprecated-alias.yml
  plugins/modules/server.py
Due: none

chore(main): release 4.0.1
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 4.0.1
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/keep-deprecated-alias.yml
Due: none

chore(main): release 4.0.1 (#517)
  .github/release-please-manifest.json
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/dev-changelog.md
  changelogs/fragments/keep-deprecated-alias.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

test: update server type to cax11
  tests/integration/targets/placement_group/tasks/test.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server/tasks/test_firewalls.yml
  tests/integration/targets/server/tasks/test_primary_ips.yml
  tests/integration/targets/server/tasks/test_private_network_only.yml
Due: check-integration-test-files

test: update server type to cax11 (#518)
  tests/integration/targets/placement_group/tasks/test.yml
  tests/integration/targets/server/tasks/test_basic.yml
  tests/integration/targets/server/tasks/test_firewalls.yml
  tests/integration/targets/server/tasks/test_primary_ips.yml
  tests/integration/targets/server/tasks/test_private_network_only.yml
Due: check-integration-test-files

test: add internal account vswitch ids
  tests/integration/targets/subnetwork/defaults/main/main.yml
Due: check-integration-test-files

test: add internal account vswitch ids (#521)
  tests/integration/targets/subnetwork/defaults/main/main.yml
Due: check-integration-test-files

missing updates
  tests/integration/targets/primary_ip/tasks/test.yml
  tests/integration/targets/primary_ip_info/tasks/prepare.yml
  tests/integration/targets/rdns/tasks/prepare.yml
  tests/integration/targets/volume_info/tasks/test.yml
Due: check-integration-test-files

tmp: use dev branch
  scripts/vendor.py
Due: check-hcloud-vendor

Path conditions:
  check-hcloud-vendor: any of: ^scripts/vendor.py$, but not: ^plugins/module_utils/vendor/hcloud/.*$
  check-integration-test-files: any of: ^(scripts/integration-test-files.sh$|tests/integration), but not: ^plugins/module_utils/vendor/hcloud/.*$
  check-version-variables: any of: ^(scripts/version-sync.sh$|galaxy.yml|plugins/module_utils/version.py), but not: ^plugins/module_utils/vendor/hcloud/.*$
