Repository ansible-collections/hetzner.hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hcloud-vendor, check-integration-test-files, check-version-variables

check-hcloud-vendor:
  name: check hcloud vendor
  description: Ensure the hcloud vendored files are in sync
  language: python
  entry: python3 scripts/vendor.py
  pass_filenames: false

check-integration-test-files:
  name: check integration test files
  description: Ensure the integration test files are in sync
  language: system
  entry: scripts/integration-test-files.sh
  pass_filenames: false

check-version-variables:
  name: check version variables
  description: Ensure the version variables are in sync
  language: system
  entry: scripts/version-sync.sh
  pass_filenames: false

ci: use reusable stale bot workflow
  .github/workflows/stale.yml
Due: none

ci: use reusable stale bot workflow (#353)
  .github/workflows/stale.yml
Due: none

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: update pre-commit hooks (#354)
  .pre-commit-config.yaml
Due: none

chore: add venv dependency to lint-docs target (#350)
  Makefile
Due: none

chore: update renovate bot config
  renovate.json
Due: none

chore: update renovate bot config (#355)
  renovate.json
Due: none

chore: update vendor files
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/isos/domain.py
  plugins/module_utils/vendor/hcloud/servers/client.py
Due: none

feat: add deprecation field to hcloud_iso_info
  changelogs/fragments/add-deprecation-field-to-iso-info.yaml
  plugins/modules/hcloud_iso_info.py
  tests/integration/targets/hcloud_iso_info/defaults/main/main.yml
  tests/integration/targets/hcloud_iso_info/tasks/test.yml
Due: check-integration-test-files

remove test that might fail in the future
  tests/integration/targets/hcloud_iso_info/defaults/main/main.yml
  tests/integration/targets/hcloud_iso_info/tasks/test.yml
Due: check-integration-test-files

feat: add deprecation field to hcloud_iso_info (#357)
  changelogs/fragments/add-deprecation-field-to-iso-info.yaml
  plugins/modules/hcloud_iso_info.py
  tests/integration/targets/hcloud_iso_info/tasks/test.yml
Due: check-integration-test-files

ci: replace deprecated ansible variable
  tests/utils/ci.sh
  tests/utils/gitlab/gitlab.sh
Due: none

test: use smaller ip_range for subnets
  .ansible-lint
  tests/integration/targets/hcloud_subnetwork/defaults/main/main.yml
  tests/integration/targets/hcloud_subnetwork/tasks/cleanup.yml
  tests/integration/targets/hcloud_subnetwork/tasks/prepare.yml
  tests/integration/targets/hcloud_subnetwork/tasks/test.yml
Due: check-integration-test-files

test: fix vswitch subnets ip_range (#359)
  .ansible-lint
  tests/integration/targets/hcloud_subnetwork/defaults/main/main.yml
  tests/integration/targets/hcloud_subnetwork/tasks/cleanup.yml
  tests/integration/targets/hcloud_subnetwork/tasks/prepare.yml
  tests/integration/targets/hcloud_subnetwork/tasks/test.yml
  tests/utils/ci.sh
  tests/utils/gitlab/gitlab.sh
Due: check-integration-test-files

feat: allow selecting to a resource using its ID
  changelogs/fragments/allow-selecting-a-resource-using-its-id.yaml
  plugins/module_utils/hcloud.py
  plugins/modules/hcloud_load_balancer_network.py
  plugins/modules/hcloud_load_balancer_service.py
  plugins/modules/hcloud_load_balancer_target.py
  plugins/modules/hcloud_rdns.py
  plugins/modules/hcloud_route.py
  plugins/modules/hcloud_server_network.py
  plugins/modules/hcloud_subnetwork.py
Due: none

test: use new error messages
  tests/integration/targets/hcloud_load_balancer_network/tasks/test.yml
  tests/integration/targets/hcloud_load_balancer_service/tasks/test.yml
  tests/integration/targets/hcloud_load_balancer_target/tasks/test.yml
Due: check-integration-test-files

test: another fix
  tests/integration/targets/hcloud_rdns/tasks/test.yml
Due: check-integration-test-files

ci: reduce usage when pushing release-please updates
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/release-please.yml
Due: none

chore: update galaxy version badge url
  README.md
Due: none

chore: update galaxy version badge url (#363)
  README.md
Due: none

ci: reduce usage when pushing release-please updates (#362)
  .azure-pipelines/azure-pipelines.yml
  .github/workflows/release-please.yml
Due: none

feat: allow selecting a resource using its ID (#361)
  changelogs/fragments/allow-selecting-a-resource-using-its-id.yaml
  plugins/module_utils/hcloud.py
  plugins/modules/hcloud_load_balancer_network.py
  plugins/modules/hcloud_load_balancer_service.py
  plugins/modules/hcloud_load_balancer_target.py
  plugins/modules/hcloud_rdns.py
  plugins/modules/hcloud_route.py
  plugins/modules/hcloud_server_network.py
  plugins/modules/hcloud_subnetwork.py
  tests/integration/targets/hcloud_load_balancer_network/tasks/test.yml
  tests/integration/targets/hcloud_load_balancer_service/tasks/test.yml
  tests/integration/targets/hcloud_load_balancer_target/tasks/test.yml
  tests/integration/targets/hcloud_rdns/tasks/test.yml
Due: check-integration-test-files

c: force push antsibull-changelog changes
  .github/workflows/release-please.yml
Due: none

style: format examples
  plugins/modules/hcloud_certificate.py
  plugins/modules/hcloud_firewall.py
  plugins/modules/hcloud_load_balancer.py
  plugins/modules/hcloud_placement_group.py
  plugins/modules/hcloud_primary_ip_info.py
  plugins/modules/hcloud_server.py
  plugins/modules/hcloud_server_network.py
  plugins/modules/hcloud_ssh_key.py
Due: none

chore: remove duplicate plugin field in inventory example
  plugins/inventory/hcloud.py
Due: none

test: rework load_balancer module tests
  .ansible-lint
  tests/integration/targets/hcloud_load_balancer/tasks/cleanup.yml
  tests/integration/targets/hcloud_load_balancer/tasks/test.yml
Due: check-integration-test-files

algorithm implementation if for the next PR
  tests/integration/targets/hcloud_load_balancer/tasks/test.yml
Due: check-integration-test-files

Update tests/integration/targets/hcloud_load_balancer/tasks/test.yml
  tests/integration/targets/hcloud_load_balancer/tasks/test.yml
Due: check-integration-test-files

test: rework load_balancer module tests (#367)
  .ansible-lint
  tests/integration/targets/hcloud_load_balancer/tasks/cleanup.yml
  tests/integration/targets/hcloud_load_balancer/tasks/test.yml
Due: check-integration-test-files

feat: add load_balancer algorithm option
  plugins/modules/hcloud_load_balancer.py
  tests/integration/targets/hcloud_load_balancer/tasks/test.yml
Due: check-integration-test-files

ci: ensure no race between github workflows
  .github/workflows/release-please.yml
Due: none

ci: force push antsibull-changelog changes (#366)
  .github/workflows/release-please.yml
Due: none

feat: add load_balancer algorithm option (#368)
  plugins/modules/hcloud_load_balancer.py
  tests/integration/targets/hcloud_load_balancer/tasks/test.yml
Due: check-integration-test-files

chore: update vendor files
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/isos/domain.py
Due: none

chore(main): release 2.2.0
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 2.2.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/add-deprecation-field-to-iso-info.yaml
  changelogs/fragments/allow-selecting-a-resource-using-its-id.yaml
Due: none

feat: stop using ISO deprecated field
  plugins/modules/hcloud_iso_info.py
Due: none

refactor: don't use ISO deprecated field (#371)
  plugins/modules/hcloud_iso_info.py
Due: none

test: improve rdns integration using the testing framework
  .ansible-lint
  .pre-commit-config.yaml
  tests/integration/targets/hcloud_rdns/meta/main.yml
  tests/integration/targets/hcloud_rdns/tasks/cleanup.yml
  tests/integration/targets/hcloud_rdns/tasks/prepare.yml
  tests/integration/targets/hcloud_rdns/tasks/test.yml
Due: check-integration-test-files

test: improve rdns integration using the testing framework (#372)
  .ansible-lint
  .pre-commit-config.yaml
  tests/integration/targets/hcloud_rdns/meta/main.yml
  tests/integration/targets/hcloud_rdns/tasks/cleanup.yml
  tests/integration/targets/hcloud_rdns/tasks/prepare.yml
  tests/integration/targets/hcloud_rdns/tasks/test.yml
Due: check-integration-test-files

Path conditions:
  check-hcloud-vendor: any of: ^scripts/vendor.py$, but not: ^plugins/module_utils/vendor/hcloud/.*$
  check-integration-test-files: any of: ^(scripts/integration-test-files.sh$|tests/integration), but not: ^plugins/module_utils/vendor/hcloud/.*$
  check-version-variables: any of: ^(scripts/version-sync.sh$|galaxy.yml|plugins/module_utils/version.py), but not: ^plugins/module_utils/vendor/hcloud/.*$
