Repository ansible-collections/hetzner.hcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-hcloud-vendor, check-integration-test-files, check-version-variables

check-hcloud-vendor:
  name: check hcloud vendor
  description: Ensure the hcloud vendored files are in sync
  language: python
  entry: python3 scripts/vendor.py
  pass_filenames: false

check-integration-test-files:
  name: check integration test files
  description: Ensure the integration test files are in sync
  language: system
  entry: scripts/integration-test-files.sh
  pass_filenames: false

check-version-variables:
  name: check version variables
  description: Ensure the version variables are in sync
  language: system
  entry: scripts/version-sync.sh
  pass_filenames: false

chore(main): release 4.2.1
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 4.2.1
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/server-create-next-actions.yml
Due: none

chore(main): release 4.2.1 (#562)
  .github/release-please-manifest.json
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/dev-changelog.md
  changelogs/fragments/server-create-next-actions.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

test: do not use deprecated iso
  tests/integration/targets/iso_info/defaults/main/main.yml
Due: check-integration-test-files

chore: update vendore files
  plugins/module_utils/vendor/hcloud/_version.py
  plugins/module_utils/vendor/hcloud/floating_ips/client.py
Due: none

test: do not use deprecated iso (#569)
  tests/integration/targets/iso_info/defaults/main/main.yml
Due: check-integration-test-files

test: add test for not existing certificate
  tests/integration/targets/load_balancer_service/tasks/test.yml
Due: check-integration-test-files

fix: improve unknown certificate error in `load_balancer_service`
  changelogs/fragments/improve-unkown-certificate-error.yml
  plugins/modules/load_balancer_service.py
Due: none

fix: improve unknown certificate error in `load_balancer_service` (#570)
  changelogs/fragments/improve-unkown-certificate-error.yml
  plugins/modules/load_balancer_service.py
  tests/integration/targets/load_balancer_service/tasks/test.yml
Due: check-integration-test-files

chore(main): release 4.2.2
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 4.2.2
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/improve-unkown-certificate-error.yml
Due: none

test: run devel (ansible-core 2.18) tests with python 3.13
  .azure-pipelines/azure-pipelines.yml
Due: none

test: run devel (ansible-core 2.18) tests with python 3.13 (#575)
  .azure-pipelines/azure-pipelines.yml
Due: none

fix: only rebuild existing servers, skip rebuild if it was just created
  changelogs/fragments/only-rebuild-existing-servers.yml
  plugins/modules/server.py
Due: none

fix: only rebuild existing servers, skip rebuild if it was just created (#581)
  changelogs/fragments/only-rebuild-existing-servers.yml
  plugins/modules/server.py
Due: none

ci: add ansible-core 2.18 to the test matrix
  .azure-pipelines/azure-pipelines.yml
Due: none

ci: add ansible-core 2.18 to the test matrix (#582)
  .azure-pipelines/azure-pipelines.yml
Due: none

chore(main): changelog for version 4.2.2
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/improve-unkown-certificate-error.yml
  changelogs/fragments/only-rebuild-existing-servers.yml
Due: none

chore(main): release 4.2.2 (#571)
  .github/release-please-manifest.json
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/dev-changelog.md
  changelogs/fragments/improve-unkown-certificate-error.yml
  changelogs/fragments/only-rebuild-existing-servers.yml
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

test: enable unsupported-version lint rule
  .ansible-lint
Due: none

test: enable unsupported-version lint rule (#595)
  .ansible-lint
Due: none

test: ignore lint error for missing args in tests
  tests/integration/targets/firewall/tasks/test.yml
  tests/integration/targets/firewall_resource/tasks/test.yml
  tests/integration/targets/load_balancer_network/tasks/test.yml
  tests/integration/targets/load_balancer_service/tasks/test.yml
  tests/integration/targets/load_balancer_target/tasks/test.yml
  tests/integration/targets/rdns/tasks/test.yml
  tests/integration/targets/server_network/tasks/test.yml
  tests/integration/targets/subnetwork/tasks/test.yml
Due: check-integration-test-files

test: ignore lint error for missing args in tests (#602)
  tests/integration/targets/firewall/tasks/test.yml
  tests/integration/targets/firewall_resource/tasks/test.yml
  tests/integration/targets/load_balancer_network/tasks/test.yml
  tests/integration/targets/load_balancer_service/tasks/test.yml
  tests/integration/targets/load_balancer_target/tasks/test.yml
  tests/integration/targets/rdns/tasks/test.yml
  tests/integration/targets/server_network/tasks/test.yml
  tests/integration/targets/subnetwork/tasks/test.yml
Due: check-integration-test-files

fix: only update load balancer service when changed
  plugins/modules/load_balancer_service.py
Due: none

fix: only update load balancer service when changed (#603)
  plugins/modules/load_balancer_service.py
Due: none

chore(main): release 4.2.3
  .github/release-please-manifest.json
  changelogs/dev-changelog.md
  galaxy.yml
  plugins/module_utils/version.py
Due: check-version-variables

chore(main): changelog for version 4.2.3
  CHANGELOG.rst
  changelogs/changelog.yaml
Due: none

feat: add new state for idempotent server creation without starting
  examples/server-with-private-ip-only.yml
  plugins/modules/server.py
  tests/integration/targets/server/tasks/test_private_network_only.yml
Due: check-integration-test-files

test: ensure ansible-lint do not fail for missing api_token
  .pre-commit-config.yaml
Due: none

test: ensure ansible-lint do not fail for missing api_token (#610)
  .pre-commit-config.yaml
Due: none

Path conditions:
  check-hcloud-vendor: any of: ^scripts/vendor.py$, but not: ^plugins/module_utils/vendor/hcloud/.*$
  check-integration-test-files: any of: ^(scripts/integration-test-files.sh$|tests/integration), but not: ^plugins/module_utils/vendor/hcloud/.*$
  check-version-variables: any of: ^(scripts/version-sync.sh$|galaxy.yml|plugins/module_utils/version.py), but not: ^plugins/module_utils/vendor/hcloud/.*$
